* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}
:root {
  --color-white: white;
  --color-background: rgb(17, 17, 17);
}
